[submodule "themes/hermit"]
	path = themes/hermit
	url = git@github.com:luis-javier-gonzalez-alonso/hugo-theme-hermit.git
[submodule "public"]
	path = public
	url = git@github.com:luis-javier-gonzalez-alonso/grumpy-okapi.git
	branch = gh-pages
