[submodule "themes/hermit"]
	path = themes/hermit
	url = git@github.com:luis-javier-gonzalez-alonso/hugo-theme-hermit.git
[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
